{

    "plugins": [],
    "ecmaFeatures": {
        "jsx": true,
        "arrowFunctions": true,
        "blockBindings": true,
        "generators": true
    },
    // To give you an idea how to override rule options:
    "rules": {
        "strict": [2, "global"],
        "no-underscore-dangle": 0,
        "no-unused-vars": 0,
        "curly": 0,
        "no-multi-spaces": 0,
        "key-spacing": 0,
        "no-return-assign": 0,
        "consistent-return": 0,
        "no-shadow": 0,
        "no-comma-dangle": 0,
        "no-use-before-define": 0,
        "no-empty": 0,
        "new-parens": 0,
        "no-cond-assign": 0,
        "quotes": [2, "single", "avoid-escape"],
        "camelcase": 0,
        "new-cap": [1, { "capIsNew": false }],
        "no-undef": 2,
        "jsx-quotes": [2, "prefer-double"]
    },
    "env": {
        "node": true,
    },
    "globals": {
        "IS_SERVER": true
    }
}
